
.h1HH{
    color:red;
    text-shadow: 0px 4px 8px red;
}

body {
    background-color: #242424;
}
p, div {
    color:aliceblue;
}
.HIT {
    border: 3px solid;
    border-color: rgb(77, 237, 255);
}
.TColor{
    color:aliceblue;
}
.HColor {
    background-image: linear-gradient(black,red);
}
.HColor2 {
    background-image: linear-gradient(red,black);
}